/* Fix range widget style for bootstrap */
input[type="range"],
input[type="range"].form-control:focus {
  border: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  box-shadow: inherit;
  padding: 0;
}

/* Selection form */
.selection-form .panel-heading {
  margin: 0; }
  .selection-form--category .form-type-rangefield {
    padding: 0.5em;
    margin: 0; }
    .selection-form--category .control-label {
      width: 15em; }
    .selection-form--category .form-range {
      display: inline-block;
      vertical-align: top;
      margin-left: 1em; }
  .selection-form--category .panel-heading .form-type-rangefield {
    padding-top: 0;
    padding-bottom: 0; }
    .selection-form--category .panel-body .form-type-rangefield:hover {
      background: #efefef; }
.selection-form .form-actions .form-submit {
  margin-right: 1em; }
.selection-form #edit-cancel,
.selection-form #edit-actions-cancel {
  float: right;
  margin-right: 0; }

/* Suggestions */
.suggestions th {
  white-space: nowrap; }
